<div class="card">
  <%= link_to image_tag(product.image, class: :card__img ), ""%>
  <div class="card__body">
    <%= link_to product.title, "", class: :card__title%>
    <p class="card__summary">
      <%= product.price %>
    </p>
    
  </div>
</div>