<%= link_to "トップページへ戻る", root_path %>
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">投稿内容編集</h2>
      <%# 部分テンプレートでフォームを表示する %>
      <%= render partial: "form" %>
    </div>
  </div>
</div>